{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Number of people with the same year in the “date” field - {{records}} records{% endblock %}</h1>
{% endblock %}

{% block content %}
            <table class="table table-sm table-striped table-hover">
                <thead>
                <tr>
                    <th scope="col">Year</th>
                    <th scope="col">Count</th>
                </tr>
                </thead>
                {% for year, count in result.iteritems(): %}
                    <tr>
                        <td scope="col">{{ year }}</td>
                        <td scope="col">{{ count }}</td>
                    </tr>
                {% endfor %}
            </table>
{% endblock %}