{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}File Content - {{total_records}} records{% endblock %}</h1>
{% endblock %}

{% block content %}
      <table class="table table-sm table-striped table-hover">
          <thead>
            <tr>
                {% for col in result.columns: %}
                    <th scope="col">{{ col }}</th>
                {% endfor %}
            </tr>

          </thead>
          <tbody>
                {% for idx, row in result.iterrows(): %}
                <tr>
                        {% for col in result.columns: %}
                            <td scope="col">{{ row[col] }}</td>
                        {% endfor %}
                </tr>
                {% endfor %}
          </tbody>
      </table>
      <ul class="nav justify-content-end">
          <li class="nav-item">
            <a class="nav-link" href="/files/view/{{file}}/0">First</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/files/view/{{file}}/{{previous_page}}">Previous</a>
          </li>
          <li class="nav-item">
            Page {{current_page}} of {{last_page}}
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/files/view/{{file}}/{{next_page}}">Next</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/files/view/{{file}}/{{last_page}}">Last</a>
          </li>
      </ul>
{% endblock %}